<!-- footer -->
<div class="footer">
  <div class="container flexbox-start-between">
    <div class="footer1">
      <img src="../../assets/logo.webp">
      <p>
          Copyright ® 2019 Bilu Mới All Rights Reserved.
      </p>
    </div>
    <div class="footer2">
      <p style="font-size:18px">Quốc Gia Nổi Bật</p>
      <p>Phim Hàn Quốc</p>
      <p>Phim Trung Quốc</p>
      <p>Phim Thái Lan</p>
      <p>Phim Nhật Bản</p>
      <p>Phim Mỹ</p>
      <p>Phim Hồng Kông</p>
      <p>Phim Đài Loan</p>
      <p>Phim Canada</p>
      <p>Phim Châu Âu</p>
    </div>
    <div class="footer2">
      <p style="font-size:18px">Danh Sách Phim</p>
      <p>Phim Chiếu Rạp</p>
      <p>Phim Mới</p>
      <p>Phim Xem Nhiều</p>
      <p>Phim Bộ</p>
      <p>Phim Lẻ</p>
      <p>Phim Hoạt Hình</p>
    </div>
    <div class="footer2">
      <p style="font-size:18px">Điều Khoản Sử Dụng</p>
      <p>Chính Sách Riêng Tư</p>
      <p>Khiếu Nại Bản Quyền</p>
      <a routerLink="/about" class="about matb-50">Giới Thiệu</a>
      <p>Liên hệ</p>
    </div>
    <div class="footer2">
      <p style="font-size:18px">Liên Hệ</p>
      <a routerLink="#" class="yellowcolor fs-16">Email: bilutv.org@gmail.com</a><br/>
      <a routerLink="#" class="bluecolor fs-16">FaceBook<i class="fab fa-facebook-square marl-3"></i></a><br>
      <a routerLink="#" class="fs-16" style="color:#1da1f2 !important">Twitter<i class="fab fa-twitter-square marl-3"></i></a><br>
      <a routerLink="#" class="fs-16" style="color:#ff0000 !important">Youtube<i class="fab fa-youtube marl-3"></i></a><br>
      <a routerLink="#" class="fs-16" style="color:#d30ca1 !important">Instagram<i class="fab fa-instagram marl-3"></i></a><br>
    </div>
  </div>

  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  <div class="wave wave3"></div>
  <div class="wave wave4"></div>
</div>
