<section class="section">
    <div class="contain">
        <h1 class="title">Donate</h1>
        <p class="has-text-centered">Để ủng hộ website &amp; sử dụng tính năng <em>VIP mode</em> cho phim (
            <a href="#" class="">
                xem chi tiết
            </a>
            ), hãy nạp thẻ cào điện thoại hoặc thẻ Gate bằng form bên dưới.
        </p>
        <form class="flexbox-center-center">
            <div class="donate-form">
                <div class="field"><label class="label is-medium">Loại thẻ</label>
                    <div class="control">
                        <div class="columns flexbox-center-between">
                            <label class="column has-text-centered flexbox-center-center">
                                <img src="./../../../assets/viettel-vector-logo-download-free-115740601049odb446cbc.png"
                                    alt="Viettel" title="Viettel"><br>
                                <input class="" type="radio" name="type" required="" value="vtt">
                            </label>
                            <label class="column has-text-centered flexbox-center-center ">

                                <img src="./../../../assets/mobifone-vector-logo-115742074208scmjpp01h.png"
                                    alt="Mobifone" title="Mobifone"><br>
                                <input type="radio" name="type" required="" value="vms">
                            </label>
                            <label class="column has-text-centered flexbox-center-center ">

                                <img src="./../../../assets/mms-vina.jpg" alt="Vinaphone" title="Vinaphone"><br>
                                <input type="radio" name="type" required="" value="vpn">
                            </label>
                            <label class="column has-text-centered flexbox-center-center ">

                                <img src="./../../../assets/19535-117043-hcm-lap-dat-internet-toc-do-cao-vnpt.jpg"
                                    alt="Gate" title="Gate"><br>
                                <input type="radio" name="type" required="" value="gate">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="mart-40">
                    <div class="card-item"><label class="label is-medium">Mệnh giá thẻ</label>
                        <div class="control">
                            <div class="select is-medium">
                                <select name="value" required="">
                                    <option value="10000">10.000</option>
                                    <option value="20000">20.000</option>
                                    <option value="50000">50.000</option>
                                    <option value="100000">100.000</option>
                                    <option value="200000">200.000</option>
                                    <option value="500000">500.000</option>
                                </select>
                            </div>
                        </div>
                        <p class="help is-warning">Chọn sai mệnh giá có thể mất thẻ!</p>
                    </div>
                    <div class="field"><label class="label is-medium">Mã thẻ (cào lớp tráng bạc)</label>
                        <div class="control"><input class="" type="text" name="number" required=""
                                value="">
                        </div>
                    </div>
                    <div class="field"><label class="label is-medium">Số sêri (in trên thẻ)</label>
                        <div class="control"><input class="" type="text" name="serial" required=""
                                value="">
                        </div>
                    </div>
                    <div class="field"><button type="submit" class="button is-medium is-primary">Submit</button>
                    </div>
                </div>

            </div>
        </form>
        <div class="content">
            <p>Chú ý:</p>
            <ul>
                <li>Đôi lúc thẻ có thể bị đưa vào chế độ nạp trễ và có thể mất tới 5 phút để xử lý xong</li>
                <li>Xem số dư tài khoản của bạn <a href="/settings">ở đây</a></li>
                <li>Các vấn đề phát sinh khi nạp thẻ vui lòng liên hệ <a href="/contact">ở đây</a> (nên gửi kèm ảnh thẻ
                    để admin xử lý nhanh hơn).</li>
            </ul>
        </div>
    </div>
</section>