$pink-color: #ff55a5;
$white-color:aliceblue;

@mixin current-status {
  position: absolute;
  color: $white-color;
  font-size: 13px;
  left: 5px;
  top: 8px;
  background-color: #ea9b06;
  border-radius: 3px;
  padding: 0 5px;
  font-weight: 700;
}

@mixin episode {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 13px;
  color: $white-color;
  border-radius: 3px;
  padding: 0 5px;
  background: $pink-color;
  font-weight: 700;
}

@mixin fa-play {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  // border: 4px solid rgba(211, 197, 0, 0.721);;
  background-image: linear-gradient(90deg, $pink-color 0, #ff5860 100%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  z-index: 2;
  font-size: 30px;
  color: rgba(228, 228, 228, 0.667);
}

@mixin title {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}

@mixin name {
  font-weight: 700;
  color: #d1d1d1;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin eng-name {
  font-size: 18px;
  color: rgb(211, 197, 0);
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.phim-bo {
  .movie-item {
    width: 16.66666666667%;
    background-color: transparent;
    padding: 20px 10px;

    .play-center {
      display: none;
    }

    &:hover {
      .play-center {
        display: block;
      }

      .image {
        opacity: 0.8;
        box-shadow: 0px 0px 20px rgba(242, 67, 255, 0.524);
      }
    }

    .image {
      height: 270px;
      width: 100%;
      position: relative;

      &:hover {
        .background {
          display: block;
        }

        span {
          display: block;
        }
      }

      img {
        border-radius: 5px;
      }

      .current-status {
        @include current-status;
      }

      .episode {
        @include episode;
      }

      .fa-play {
        @include fa-play;
      }
    }

    .title {
      @include title;

      .name {
        @include name;
      }

      .eng-name {
        @include eng-name;
      }
    }
  }
}

.movie-item-loading {
  width: 16.66666666667%;
  background-color: transparent;
  padding: 20px 10px;

  .play-center {
    display: none;
  }

  &:hover {
    .play-center {
      display: block;
    }

    .image {
      opacity: 0.8;
      box-shadow: 0px 0px 20px rgba(242, 67, 255, 0.524);
    }
  }

  .image {
    height: 270px;
    width: 100%;
    background-color: #1b181a;
    border-radius: 10px;
    animation: loading 1s linear alternate infinite;
    position: relative;

    &:hover {
      .background {
        display: block;
      }

      span {
        display: block;
      }
    }

    img {
      border-radius: 5px;
    }

    .current-status {
      color: #ea9a06ac;
      @include current-status;
      animation: loading 1s linear alternate infinite;
      width: 60px !important;
      height: 60px !important;
      border-radius: 50% !important;
    }

    .episode {
     display:none !important;
    }
  }

  .image::before{
    content: '';
    left: 5px;
    bottom: 65px;
    position: absolute;
    width: 50%;
    height: 25px;
    border-radius: 5px;
    background-color:#1b181a;
    animation: loading 1s linear alternate infinite;
  }

  .image::after{
    content: '';
    left: 5px;
    bottom: 8px;
    position: absolute;
    width: 95%;
    height: 50px;
    border-radius:10px;
    background-color:#1b181a;
    animation: loading 1s linear alternate infinite;
  }

  .title {
    @include title;
    animation: loading 1s linear alternate infinite;

    .name {
      @include name;
      animation: loading 1s linear alternate infinite;
    }

    .eng-name {
      @include eng-name;
      animation: loading 1s linear alternate infinite;
    }
  }
}

@keyframes loading {
  from {
    background-color: #1212125f;
  }

  to {
    background-color: #121212d7;
  }
}
