* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, helvetica neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}

.clear {
  clear: both !important;
}

a {
  text-decoration: none !important;
  text-transform: capitalize !important;
  color: rgb(243, 243, 243) !important;
}

ul {
  list-style: none !important;
  margin-bottom: 0 !important;
}

img {
  width: 100% !important;
  height: 100% !important;
}

a:hover {
  opacity: 0.8 !important;
  cursor: pointer !important;
}

.float-r {
  float: right !important;
}

.float-l {
  float: left !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.pointer {
  cursor: pointer !important;
}

.none {
  display: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
  cursor: default;
}

.cursor-default{
  cursor: default !important;
}
