
<div class="body-content flexbox-start-between">
    <!-- <div class="left-content">
        <div class="">
            <h4 class="caption">
                <h3 class="flexbox-center-start">
                    <span class="flexbox-center-center">
                        <i class="fa fa-plus-square marr-5 fs-19"></i>{{type }}
                    </span>
                </h3>
            </h4>

            <ng-container *ngIf="loading; else loaded">
                <div class="phim-bo flexbox-start-start">
                    <a routerLink="" class="movie-item" *ngFor="let movie of array20">
                        <div class="image">
                            <img alt="" src="./../../../../assets/image/default-cover.webp">
                        </div>
                    </a>
                </div>
            </ng-container>
            <ng-template #loaded>
                <div class="phim-bo flexbox-start-start" *ngIf="loading == false">
                    <a routerLink="/detailmovie/{{movie.id}}" class="movie-item" *ngFor="let movie of pagedItems">
                        <div class="image">
    
                            <img alt="" src="{{movie.name_image}}" loading="lazy">
    
    
                            <div class="play-center">
                                <i class="fa fa-play" matTooltip="Play"></i>
                            </div>
                            <label class="current-status">{{movie.status}}</label>
                            <span class="episode">{{movie.run_time}} Phút </span>
                        </div>
                        <div class="title">
                            <h3 class="name">{{movie.name}}</h3>
                            <p class="eng-name">{{movie.real_name}}</p>
                        </div>
                    </a>
                </div>
            </ng-template>
            <app-pagination [data]="movies" (keyPagination)="handleData($event)"></app-pagination>
        </div>
    </div> -->


    <ng-container *ngIf="loading; else loaded">
        <div class="left-content">
            <div class="">
                <h4 class="caption">
                    <h3 class="flexbox-center-start">
                        <span class="flexbox-center-center">
                            <i class="fa fa-plus-square marr-5 fs-19"></i>type
                        </span>
                    </h3>
                </h4>
    
                <div class="phim-bo flexbox-start-start">
                    <a routerLink="" class="movie-item-loading" style="width:24%" *ngFor="let movie of array20">
                        <div class="image" style="height:300px">
                            <label class="current-status"></label>
                            <span class="episode"></span>
                        </div>
                    </a>
                </div>
                <app-pagination *ngIf="loading" [data]="movies" (keyPagination)="handleData($event)"></app-pagination>
            </div>
        </div>
    </ng-container>
    <ng-template #loaded>
        <div class="left-content">
            <div class="">
                <h4 class="caption">
                    <h3 class="flexbox-center-start">
                        <span class="flexbox-center-center">
                            <i class="fa fa-plus-square marr-5 fs-19"></i>{{type }}
                        </span>
                    </h3>
                </h4>
    
                <div class="phim-bo flexbox-start-start">
                    <a routerLink="/detailmovie/{{movie.id}}" class="movie-item" *ngFor="let movie of pagedItems">
                        <div class="image">
    
                            <img alt="" src="{{movie.name_image}}" loading="lazy">
    
    
                            <div class="play-center">
                                <i class="fa fa-play" matTooltip="Play"></i>
                            </div>
                            <label class="current-status">{{movie.status}}</label>
                            <span class="episode">{{movie.run_time}} Phút </span>
                        </div>
                        <div class="title">
                            <h3 class="name">{{movie.name}}</h3>
                            <p class="eng-name">{{movie.real_name}}</p>
                        </div>
                    </a>
                </div>
                <app-pagination [data]="movies" (keyPagination)="handleData($event)"></app-pagination>
            </div>
    
        </div>
    </ng-template>





    <div class="right-content">
        <app-content [data]="true"></app-content>
    </div>
</div>