$primary-color : #ff55a5;
@import './../../../../scss/movie.scss';

.loaded{
    display: none !important;
}

.content {
    width: 100%;
    height: auto;

    .category {
        width: 100%;
        height: 79px;
        padding-left: 5%;
        padding-right: 5%;
        box-shadow: 0px 2px 30px rgb(17, 16, 16);

        .filter {
            padding: 10px 20px;
            height: 50px;
            background-image: linear-gradient(90deg, $primary-color 0, #ff5860 100%);
            border-radius: 4px;
            color: rgb(255, 255, 255);
            border: none;
            outline: none;
        }

        .category-wrap {
            width: 70%;
            height: 100%;
            padding: 25px 15px 0px;

            .phim-chieu-rap,
            .phim-bo,
            .phim-le {
                height: 100%;
                text-transform: uppercase;
                font-size: 25px;
                cursor: pointer;
                margin-right: 30px;

                &:hover {
                    color: $primary-color;
                }

                &.active {
                    border-bottom: 3px solid #ff55a5;
                    color: #ff55a5;
                }
            }
        }
    }

    .movie {
        width: 100%;
        height: auto;
        padding: 30px 5%;

        .phim-chieu-rap {
            .movie-frame {
                width: 33.333333333%;
                padding: 20px 15px;
                background-color: transparent;

                .movie-item {
                    width: 40%;

                    .play-center {
                        display: none;
                    }

                    &:hover {
                        .play-center {
                            display: block;
                        }

                        .image {
                            opacity: 0.8;
                            box-shadow: 0px 0px 20px rgba(242, 67, 255, 0.524);
                        }
                    }

                    .image {
                        height: 270px;
                        width: 100%;
                        position: relative;

                        &:hover {
                            .background {
                                display: block;
                            }

                            span {
                                display: block;
                            }
                        }

                        img {
                            border-radius: 5px;
                        }

                        .current-status {
                            @include current-status;
                        }

                        .episode {
                            @include episode;
                        }

                        .fa-play {
                            @include fa-play;
                        }
                    }
                }

                .title {
                    width: 60%;
                    padding: 0 15px;
                    line-height: 3 !important;
                    cursor: default;
                    height:270px;
                    overflow: hidden;

                    .name {
                        @include name;
                    }

                    .eng-name {
                        @include eng-name;
                    }

                    .genre,
                    .country {
                        color: #e13c89;
                    }

                    .imdb {
                        background-color: #ea9b06;
                        padding: 0 10px;
                        border-radius: 3px;
                    }

                    .content-movie {
                        height: 120px;
                        width: 100%;
                        white-space: wrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                .movie-item-loading {
                    width: 40%;

                    &:hover {
                        .image {
                            opacity: 0.8;
                            box-shadow: 0px 0px 20px rgba(242, 67, 255, 0.524);
                        }
                    }

                    .image {
                        height: 270px;
                        width: 100%;
                        position: relative;

                        &:hover {
                            .background {
                                display: block;
                            }

                            span {
                                display: block;
                            }
                        }

                        img {
                            border-radius: 5px;
                        }

                        .current-status {
                            @include current-status;
                            width:70px;
                            height: 20px;
                        }

                        .episode-loading {
                            @include episode;
                            width: 40px !important;
                            height: 40px !important;
                            border-radius: 50% !important;
                            animation: loading 1s linear alternate infinite;
                        }
                    }

                    .image::before {
                        display:none !important;
                    }

                    .image::after{
                        display: none !important
                    }
                }

                .title-loading {
                    width: 60%;
                    padding: 0 15px;
                    line-height: 3 !important;
                    cursor: default;

                    .name {
                        width:70%;
                        height: 20px;
                        border-radius:10px;
                        animation: loading 1s linear alternate infinite;
                    }

                    .eng-name {
                        width:100%;
                        height: 25px;
                        border-radius:10px;
                        animation: loading 1s linear alternate infinite;
                        margin-top: 5px;
                    }

                    .genre{
                        width:100%;
                        height: 35px;
                        animation: loading 1s linear alternate infinite;
                        margin-top: 5px;
                        border-radius:10px;
                    }

                    .content-movie {
                        height: 170px;
                        width: 100%;
                        animation: loading 1s linear alternate infinite;
                        margin-top: 5px;
                        border-radius:10px;
                    }
                }
            }
        }
    }
}

.body-content {
    width: 100%;
    background-color: rgba(27, 25, 25, 0.381);

    .head-body {
        height: 100px;
        padding: 0 5.622%;

        span {
            padding: 0 10px 0;
            background: url('./../../../../assets/btn-bg1.png');
            background-size: cover;
            // transform-origin: left;
        }
    }

    .movie {
        width: 100%;
        height: auto;
        padding: 0 5% 30px;
    }
}


@media (max-width: 575.98px) {
    .content{
        .movie{
            padding: 0 10px;
            .movie-frame{
                padding: 20px 0px !important;
                .title{
                    padding: 0 0 0 10px !important;
                    height: 250px !important;
                }
            }
        }
    }

    .category-wrap {
        width: 65% !important;
    }

    .filter {
        padding: 10px 15px !important;
    }

    .category {
        padding-left: 5px !important;
        padding-right: 5px !important;

        .phim-chieu-rap,
        .phim-le,
        .phim-bo {
            font-size: 20px !important;
        }

        .phim-le,
        .phim-bo {
            display: none;
        }
    }

    .phim-chieu-rap {
        .movie-frame {
            width: 100% !important;
        }

        .movie-item {
            .image {
                height: 250px !important;
            }
        }
    }

    .phim-bo {
        .movie-item {
            width: 50% !important;
            padding: 20px 10px !important;

            .image {
                height: 250px !important;
            }
        }
    }

    .body-content{
        .movie{
            padding: 0px !important;
        }

        .head-body{
            font-size:35px !important;
        }
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .category {
        padding-left: 50px !important;
        padding-right: 50px !important;

        .phim-chieu-rap,
        .phim-le,
        .phim-bo {
            font-size: 20px !important;
        }
    }

    .phim-chieu-rap {
        .movie-frame {
            width: 50% !important;
        }

        .movie-item {
            .image {
                height: 250px !important;
            }
        }
    }

    .phim-bo {
        .movie-item {
            width: 25% !important;
            padding: 20px 10px !important;

            .image {
                height: 250px !important;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .category {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .phim-chieu-rap {
        .movie-frame {
            width: 50% !important;
        }
    }

    .phim-bo {
        .movie-item {
            width: 20% !important;
            padding: 20px 10px !important;

            .image {
                height: 250px !important;
            }
        }
    }
}